<form action="api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" vlue="" placeholder="Mark Stoines">
        </div>
        <div class="form-group">
            <label for="name" class="text-light">Email</label>
            <input type="text" name="name" vlue="" placeholder="example@gmail.com">
        </div>
        <div class="form-group">
            <label for="gender" class="text-light">gender</label>
            <div class="radio inline">
                <label for="gender" class="text-light">Male</label>
                <input type="radio" id="radio-2" name="gender" value="male">
            </div>
            <div class="radio inline">
                <label for="gender" class="text-light">Female</label>
                <input type="radio" id="radio-3" name="gender" value="female">
            </div>
            
        </div>
        <div class="form-group">
            <label for="status" class="text-light">Status</label>
            <div class="radio inline">
                <label for="status" class="text-light">Active</label>
                <input type="radio" name="status" value="active">
            </div>
            <div class="radio inline">
                <label for="status" class="text-light">Inactive</label>
                <input type="radio" name="status" value="inactive">
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>
    </div>
    
</form>